.col {
  padding: var(--gap);

  list-style: none;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border-radius: 10px;
  border: 1px solid #ededed;
}

.top {
  padding: calc(var(--gap) * 2);
  padding-bottom: calc(3.4 * var(--gap));
}

.origin {
  display: flex;
  align-items: center;

  padding-bottom: calc(1.4 * var(--gap));
}

.address,
.type,
.bar {
  display: inline-block;

  border-radius: 99px;
  padding: 0.4em 1em;

  color: var(--color-white-300);
  font-size: 0.5625rem;
}

.address {
  background-color: var(--color-black-400);
}

.type {
  background-color: var(--color-black-100);
}

.bar {
  display: inline-flex;
  gap: 0.4em;
  padding: 0.4em 1em;

  color: var(--color-black-300);

  font-size: 0.5625rem;
}

.image {
  display: block;

  height: 5.414375rem;
  margin-inline: auto;
}

.about {
  display: flex;
  justify-content: space-between;

  padding-top: calc(2.3752 * var(--gap));
}

.name {
  font-size: 1rem;
  text-overflow: ellipsis;
}

.price {
  display: block;
  width: max-content;

  font-size: 0.75rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: calc(0.36 * var(--gap));
}

.birthdate {
  font-size: 0.75rem;
  color: #666666;
}

.percentage {
  float: right;
  vertical-align: middle;

  padding-right: 0.5em;

  font-size: 0.5625rem;
}

.percentage[data-percentage-status="negative"] {
  color: #c60202;
}

.percentage[data-percentage-status="positive"] {
  color: #338333;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: calc(var(--gap) * 0.5) calc(var(--gap) * 2);

  border-top: 1px solid #ddd;
}

.details {
  font-size: 1rem;
}

.viewMore {
  height: 2rem;

  background-color: transparent;

  cursor: pointer;
}

