.header {
  position: fixed;

  display: flex;
  justify-content: right;

  width: 100vw;
  padding-block: 0.5em;
  padding-inline: var(--container-padding);

  background-color: var(--color-white-100);
  border-bottom: 1px solid var(--color-white-300);

  z-index: 998;

  transition: padding-block 450ms var(--animation-bezier-smooth);
}

body[data-scroll-direction="Up"] .header {
  padding-block: 1.5em; 
}

.connectWithMetamask {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* padding: 1.1rem 1.5rem; */

  font-size: 0.8rem;

  background-color: var(--color-white-100);
  border: 1px solid var(--color-white-300);
  border-radius: 99px;
  
  transition: background-color, border, 450ms var(--animation-bezier-smooth);
  cursor: pointer;
}

body[data-scroll-direction="Up"] .connectWithMetamask {
  background: #000;
  border: #000;
}

.innerText {
  max-width: 7rem;
  
  padding-right: 1rem;
  padding-left: 1.1rem;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  
  color: var(--color-black-100);
  
  transition: background-color, 450ms var(--animation-bezier-smooth);
}

body[data-scroll-direction="Up"] .innerText {
  color: var(--color-white-100);
}

.circle {
  display: inline-grid;
  place-content: center;

  aspect-ratio: 1 / 1;
  padding: 0.3rem;
  margin: 4px;
  margin-left: 0;

  overflow: hidden;

  background-color: var(--color-white-100);
  border-radius: 99px;
}

.fox {
  aspect-ratio: 1 / 1;
  height: calc(1.5635rem + 12px);
  /* margin: 5px; */
  /* margin-left: 0; */

  /* background-color: var(--color-white-100); */
  /* border-radius: 99px; */

  z-index: 2;
}