.bar {
  display: inline-flex;
  float: right;
  align-items: center;
  gap: 0.04em;

  padding: 0.2em 0.5em;

  border: 1px solid #ddd;
  border-radius: 99px;

  cursor: pointer;
}

.image {
  display: block;

  height: 1em;
}

.abbreviation {
  text-transform: uppercase;
  font-size: inherit;
}
